.logo {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
}

.title-logo {
  font-size: 20px;
  font-weight: bold;
  align-items: left;
}

.navbar-nav {
  margin: 0 25% 0 25%;
  justify-content: space-between;
}

.navbars {
  padding: 10px 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.footer {
  padding: 20px 0;
  background-color: #f8f9fa;
}

.navbar-nav .nav-item.active {
  font-weight: bold;
}

.container-tabla {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.title-table {
  padding: 1.5rem 1.5rem 1.5rem 0;
}

@media (max-width: 1080px) {
  .navbar-nav {
    margin: 0 30% 0 30%;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  .navbar-nav {
    margin: 0 10% 0 10%;
  }
}

@media (min-width: 480px) and (max-width: 740px) {
  .navbar-nav {
    margin: 0 5% 0 5%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar-nav {
    margin: 0 5% 0 5%;
  }
}
