<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../Logo.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="../css/personal.css" rel="stylesheet" />
    <title>Carlos Estarella Aviles</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="d-flex justify-content-between align-items-center">
        <a href="../index.html">
          <img src="../img/logo.png" alt="" class="logo" />
        </a>
        <h1 class="title-logo">
          Unidad Educativa Fiscal<br />
          Carlos Estarellas Avilés
        </h1>
      </div>
      <form class="form-inline">
        <input
          class="form-control mr-sm-2"
          type="buscar"
          placeholder="Buscar"
        />
        <button class="btn btn-dark justify-content-center" type="submit">
          <span class="material-symbols-outlined">search</span>
        </button>
      </form>
    </nav>

    <nav class="navbars navbar-expand-lg navbar-light">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="educacion.html"
          >Educación<span class="sr-only">(current)</span></a
        >
        <a class="nav-item nav-link" href="admision.html">Admisión</a>
        <a class="nav-item nav-link" href="informacion.html">Eventos</a>
        <a class="nav-item nav-link active" href="personal.html">Personal</a>
      </div>
    </nav>

    <!-- Contenido -->
    <section class="container-autoridades">
      <div class="row">
        <li class="col-md-4 mb-5">
          <article class="card p-0 m-0">
            <img
              src="../img/personalpage/July Azua.jpeg"
              class="card-img-top w-100 imagen-personalizada"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Mga. July Azua</h5>
              <p class="card-text">Rectora</p>
            </div>
          </article>
        </li>

        <li class="col-md-4 mb-5">
          <article class="card p-0 m-0">
            <img
              src="../img/personalpage/Ana Morante.jpeg"
              class="card-img-top w-100 imagen-personalizada"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Lcda. Ana Morante</h5>
              <p class="card-text">Inspectora</p>
            </div>
          </article>
        </li>

        <li class="col-md-4 mb-5">
          <article class="card p-0 m-0">
            <img
              src="../img/personalpage/Angelina Lugo.png"
              class="card-img-top w-100 imagen-personalizada"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Lcda. Angelina Lugo</h5>
              <p class="card-text">Docente</p>
            </div>
          </article>
        </li>
      </div>

      <div class="row">
        <li class="col-md-4 mb-5">
          <article class="card p-0 m-0">
            <img
              src="../img/personalpage/Bonifaz.jpeg"
              class="card-img-top w-100 imagen-personalizada"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Ing. Bonifaz</h5>
              <p class="card-text">Docente</p>
            </div>
          </article>
        </li>

        <li class="col-md-4 mb-5">
          <article class="card p-0 m-0">
            <img
              src="../img/personalpage/Juan Jose Pezantes.jpeg"
              class="card-img-top w-100 imagen-personalizada"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Lcdo. Juan Jose Pesantez</h5>
              <p class="card-text">Docente</p>
            </div>
          </article>
        </li>

        <li class="col-md-4 mb-5">
          <article class="card p-0 m-0">
            <img
              src="../img/personalpage/Jaqueline Torres.jpeg"
              class="card-img-top w-100 imagen-personalizada"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Lcda. Jaqueline Torres</h5>
              <p class="card-text">Docente</p>
            </div>
          </article>
        </li>
      </div>

      <div class="row">
        <li class="col-md-4 mb-5">
          <article class="card p-0 m-0">
            <img
              src="../img/personalpage/Martha Llanos.jpeg"
              class="card-img-top w-100 imagen-personalizada"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Lcda. Martha LLanos</h5>
              <p class="card-text">Docente</p>
            </div>
          </article>
        </li>

        <li class="col-md-4 mb-5">
          <article class="card p-0 m-0">
            <img
              src="../img/personalpage/Patricia Bravo.jpeg"
              class="card-img-top w-100 imagen-personalizada"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Lcda. Patricia Bravo</h5>
              <p class="card-text">Docente</p>
            </div>
          </article>
        </li>

        <li class="col-md-4 mb-5">
          <article class="card p-0 m-0">
            <img
              src="../img/personalpage/Juan Campoverde.jpeg"
              class="card-img-top w-100 imagen-personalizada"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Ing Juan Campoverde</h5>
              <p class="card-text">Docente</p>
            </div>
          </article>
        </li>

        <li class="col-md-4 mb-5">
          <article class="card p-0 m-0">
            <img
              src="../img/personalpage/Patricia Vázquez.jpeg"
              class="card-img-top w-100 imagen-personalizada"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Lcda. Patricia Vázquez</h5>
              <p class="card-text">Docente</p>
            </div>
          </article>
        </li>

        <li class="col-md-4 mb-5">
          <article class="card p-0 m-0">
            <img
              src="../img/personalpage/Silvana Alvarado.jpeg"
              class="card-img-top w-100 imagen-personalizada"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Lcda. Silvana Alvarado</h5>
              <p class="card-text">Docente</p>
            </div>
          </article>
        </li>

        <li class="col-md-4 mb-5">
          <article class="card p-0 m-0">
            <img
              src="../img/personalpage/Karina Furgone.jpeg"
              class="card-img-top w-100 imagen-personalizada"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Lcda. Karina Furgone</h5>
              <p class="card-text">Docente</p>
            </div>
          </article>
        </li>
      </div>
    </section>

    <!-- Footer -->

    <footer class="footer">
      <div class="col-12 text-center">
        <p>Unidad Educativa Fiscal Carlos Estarellas Avilés</p>
        <p>P4XC+4V4, Avenida 13 SE, Guayaquil 090105</p>
        <a
          class=""
          href="https://www.facebook.com/p/Carlos-Estarellas-Avilés-100064629476846/"
          target="_blank"
        >
          <img src="../img/facebook.png" alt="" />
        </a>
      </div>
    </footer>
  </body>
</html>
